<!DOCTYPE html>
<html>
<head>
    <title>GRAPHOLOGY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
    <link rel="stylesheet" href="/static/CSS/upload.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>    
<body>
    <div class="container-fluid p-3">
        
        <div class="text-center ">
            <h1>
                PREDICTED PERSONALITY TRAITS ARE
            </h1>   
            
            <img class="img-fluid" src="{{imgUrl}}" alt="Nothing Found" />
                 <ul>
                    {% for i in range(length) %}
                    <li class="list-group-item list-group-item-info">{{ predictions[i] }}</li>
                    {% endfor %}
                </ul>
           </div>
        
        <a href="/">Predict another sample</a>
            
    </div>
</body>
    
</html>